body {
    position: relative;
    background-color: #ebebeb !important;
    min-height: 100vh;
}
.form-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    h1 {
        text-align: center;
        margin-bottom: 16px;
    }
    &__error {
        color: red;
    }
    &__button {
        margin-top: 16px;
        text-align: center;
    }
}